<div class="main">
    <div class="card">
        <div class="reset_button">
            <div>
                <span>
                    <div class="seat_span" [ngStyle]="{'background-color':'red','display':'inline'}">
                        <img class="seat" src="assets/image/seat_icon.png" alt="seat">
                    </div> Booked
                </span>&nbsp; &nbsp;
                <span style="margin-top: 5px;">

                    <div class="seat_span" [ngStyle]="{'background-color':'green','display':'inline'}">
                        <img class="seat" src="assets/image/seat_icon.png" alt="seat">
                    </div> Available
                </span>
            </div>
            <button (click)="resetBooking()">
                Reset Bookings
            </button>
        </div>
        @if(!responseAvailable){
            <div class="row"><img src="assets/loading.gif" alt=""></div>
        }
        @for (row of seats; track row) {
        <div class="row">
            @for( seat of row[1]; track seat){
            <span class="seat_span" [ngStyle]="{'background-color': seat?.status==='booked'?'red':'green'}">
                <img class="seat" src="assets/image/seat_icon.png" alt="seat">
            </span>
            }
        </div>
        }
        <div style="margin: 20px 0; width: 100%;">
            <form class="form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="fields">
                    <label for="name">Name:</label>
                    <input id="name" formControlName="name" />
                    @if(formSubmitted && f['name'].errors){

                    <div style="color: red;">
                        @if(f['name'].hasError('required')){
                        <small>Name is required.</small>
                        }
                        @if(f['name'].hasError('minlength')){
                        <small>Name must be at least 3 characters long.</small>
                        }
                        @if(f['name'].hasError('maxlength')){
                        <small>Name cannot exceed 50 characters.</small>
                        }
                    </div>
                    }
                </div>

                <div class="fields">
                    <label for="noOfSeats">Number of Seats:</label>
                    <input id="noOfSeats" formControlName="noOfSeats" type="number" />
                    @if(formSubmitted && f['noOfSeats'].errors){
                    <div style="color: red;">
                        @if(f['noOfSeats'].hasError('required')){
                        <small>Number of seats is required.</small>
                        }
                        @if(f['noOfSeats'].hasError('min')){
                        <small>Number of seats must be at least 1.</small>
                        }
                        @if(f['noOfSeats'].hasError('max')){
                        <small>Number of seats cannot exceed 80.</small>
                        }
                    </div>
                    }
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

</div>